<div class="page-wrapper">
    <div class="hero-section">
        <h1>iram</h1>
        <div class="flx">
            <ul class="flx">
                <li><a href="#">Dashboard</a></li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="header">
            <h2>All projects</h2>
        </div>
        <div class="content">
            <div class="info-box">
                <div class="flx">
                    <div class="info"></div>
                    <div>
                        <p><strong>Add your first project to Iram</strong></p>
                        <p>Welcome! This dashboard shows an overview of available projects and recent activity, but
                            there aren't any projects yet. This is a good time to add your first project to TestRail</p>
                    </div>
                </div>
                <div class="buttons">
                    <button class="btn" (click)="addProject()">+ Add Project</button>
                </div>
            </div>
        </div>

        <div class="projects">
            <h2><span>Proje</span>cts</h2>
            <section class="project-details">
                <div class="case"></div>
                <div>
                    <h3>Laptop Shop</h3>
                    <div>
                        <a href="#">To-dos | </a>
                        <a href="#">Milestones | </a>
                        <a href="#">Test Runs | </a>
                        <a href="#">Reports</a>
                    </div>
                    <p>Contains <strong>2</strong> test suites, <strong>2</strong> active test runs and <strong>1</strong> active milestone.</p>
                </div>
                <div class="add-edit-project"><a href=""></a></div>
            </section>
        </div>

        <div class="sidebar">
            <button class="sidebar-btn" (click)="addProject()">+ Add project</button>
            <p>0 active and 0 completed projects</p>
        </div>
    </div>
</div>