<app-internal-menu></app-internal-menu>

<div class="header">
    <h2>Add Test Run</h2>
    <!-- <div class="sidebar">
        <p></p>
    </div> -->
</div>

<div class="test-run-form">
    <form [formGroup]="testRunForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">Name*</label>
            <input id="name" class="name" type="text" formControlName="name" />
            <p>Ex. Test Run 2014-08-01 Build 240 or Version 3.0</p>
        </div>

        <div class="form-group">
            <label for="assign-to">Assign To</label>
            <select name="assign-to" id="assign-to" formControlName="assignTo">
                <option *ngFor="let user of users" [value]="user">{{user}}</option>
            </select>
        </div>

        <div class="row"></div>

        <div class="form-group">
            <label for="milestones">Milestones</label>
            <select name="milestones" class="milestones" id="milestones" formControlName="milestones">
                <option *ngFor="let milestone of milestones" [value]="milestone">{{milestone}}</option>
            </select>
            <p>The user to whom the tests of the new test run should initially be assigned. An email is sent to the user
                if email notifications are enabled</p>
        </div>

        <div class="row"></div>

        <div class="description">
            <label for="description">Description</label>
            <textarea class="description" id="description" rows="4" formControlName="description"></textarea>
            <p>Use this description to describe the purpose of this test run</p>
        </div>

        <div class="row"></div>

        <div class="dates">
            <div class="form-group">
                <div class="radio-groups">
                    <input type="radio" name="include-cases" id="include-all-cases" class="include-cases" />
                    <div>
                        <h4>Include all test cases</h4>
                        <p>Select this option to include all test cases in this test run. If new test
                            cases are added to the repository, they are also automatically included in
                            this run</p>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="radio-groups">
                    <input type="radio" name="include-cases" id="include-specific-cases" class="include-cases"
                        (click)="selectSpecificCases()" />
                    <div>
                        <h4>Select specific test cases</h4>
                        <p>You can alternatively select the test cases to include in this test run. New
                            test cases are not automatically added to this run in this case</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row"></div>

        <div class="form-actions">
            <button type="submit">Add Test Run</button>
            <button type="reset" (click)="resetForm()">Cancel</button>
        </div>
    </form>
</div>