<app-internal-menu></app-internal-menu>
<h2 *ngIf="!id">Add Subsection</h2>
<h2 *ngIf="id">Edit Subsection</h2>
<main>
    <form method="post" [formGroup]="subSectionForm" (ngSubmit)="sendData(subSectionForm.value)">
        <fieldset>
            <div class="form-group">
                <label for="name">Name*</label><br />
                <input id="name" class="name" type="text" formControlName="name" placeholder="Some name" />
            </div>
            <div class="form-group">
                <label for="announcement">Description</label><br />
                <textarea id="description" formControlName="description"></textarea>
            </div>
        </fieldset>
        <div class="btns">
            <button type="submit" class="add-btn">Add Subsection</button>
            <button class="cancel-btn">Cancel</button>
        </div>
    </form>
</main>