<app-internal-menu></app-internal-menu>

<div class="test-case-container">
    <div class="header">
        <div class="initials">CI</div>
        <div class="title">Iram test cases</div>
    </div>
    <div class="subtitle">Laptops filtration</div>
    <div class="success-message">The test case updated successfully</div>
    <div class="details">
        <div class="detail-item">
            <div class="detail-label">Type:</div>
            <div class="detail-value">Other</div>
        </div>
        <div class="detail-item">
            <div class="detail-label">Priority:</div>
            <div class="detail-value">Medium</div>
        </div>
        <div class="detail-item">
            <div class="detail-label">Estimate:</div>
            <div class="detail-value">5 minutes</div>
        </div>
        <div class="detail-item">
            <div class="detail-label">References:</div>
            <div class="detail-value">None</div>
        </div>
    </div>
    <div class="preconditions-container">
        <div class="preconditions-header">Preconditions:</div>
        <div class="preconditions-content">
            <div class="precondition-item">
                to open site https://rozetka.com.ua/ua
            </div>
            <div class="precondition-item">
                at web page should be at least 18+ laptops from category "Gaming laptops"
            </div>
        </div>
    </div>
    <div class="preconditions-header">Steps:</div>
    <div class="steps-results-container">
        <div class="steps-section">
            <div *ngFor="let step of steps; let i = index" class="step">
                <div class="step-aside">
                    <div class="step-number">{{i + 1}}</div>
                </div>
                <div class="step-content">
                    <div>
                        <label for="stepDescription">Steps:</label>
                        <div>{{ step.stepDescription }}</div>
                        <div *ngIf="step.image && step.image.length > 0">
                            <img [src]="step.image[0]" alt="Step image" class="uploaded-image"
                                (click)="openPopup(step.image[0])" style="cursor: pointer;" />
                        </div>
                    </div>
                    <div>
                        <label for="expectedResult">Expected Results:</label>
                        <div>{{ step.expectedResult }}</div>
                        <div *ngIf="step.image && step.image.length > 0">
                            <img [src]="step.image[1]" alt="Step image" class="uploaded-image"
                                (click)="openPopup(step.image[1])" style="cursor: pointer;" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-step-details *ngIf="showPopup" [imageUrl]="selectedImageUrl" (close)="closePopup()"></app-step-details>