<app-internal-menu></app-internal-menu>

<main>
    <app-hierarchy-item *ngFor="let item of hierarchy" [item]="item" [selectedSectionId]="selectedSectionId"
        [isRoot]="item.type === 'project'" (sectionSelected)="handleSectionSelected($event)"></app-hierarchy-item>

    <div class="buttons">
        <button (click)="navigateAddTestCase()">Add Test Case</button>
        <button (click)="navigateAddSection()">Add Section</button>
        <button (click)="navigateAddSubsection()">Add Subsection</button>
    </div>
</main>