<!-- test-case-sections.component.html -->
<app-internal-menu></app-internal-menu>
<div class="header">
  <h2>Test Runs</h2>
  <div class="sidebar">
    <button class="sidebar-btn" (click)="navigateAddSection()">+ Add Section</button>
    <button class="sidebar-btn" (click)="navigateAddSubsection()">+ Add Subsection</button>
    <button class="sidebar-btn" (click)="navigateAddTestCase()">+ Add TestCase</button>
    <p>Contains {{sectionsLength}} sections and {{subsectionsLength}} subsections.</p>
  </div>
</div>

<main>
  <app-hierarchy-item *ngFor="let item of hierarchy" [item]="item" [selectedSectionId]="selectedSectionId"
                      [selectedTestCases]="selectedTestCases"
                      [isRoot]="item.type === 'project'" (sectionSelected)="handleSectionSelected($event)"
                      (testCaseSelected)="handleTestCaseSelected($event)"
  ></app-hierarchy-item>

  <div class="buttons">

    <!-- File Import Buttons -->
    <input type="file" id="importJson" (change)="onFileSelected($event, 'json')" accept=".json" style="display: none;">
    <button (click)="document.getElementById('importJson').click()">Import from JSON</button>

    <input type="file" id="importCsv" (change)="onFileSelected($event, 'csv')" accept=".csv" style="display: none;">
    <button (click)="document.getElementById('importCsv').click()">Import from CSV</button>

    <!-- Export Buttons -->
    <button (click)="exportTestCases('json')">Export as JSON</button>
    <button (click)="exportTestCases('csv')">Export as CSV</button>
    <button (click)="exportTestCases('xml')">Export as XML</button>
  </div>
</main>
