/* hierarchy-item.component.less */
.hierarchy-item {
  margin-left: 15px;
  padding: 5px;
  border-left: 2px solid #1c3c88;

  &.expanded {
    .children {
      display: block;
    }
  }
}

.item-header {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 10px;
  font-size: 20px;
  background-color: #1c3c88;
  color: white;
  border-radius: 6px;

  &:hover {
    background-color: #142c6e;
  }
}

.expand-icon {
  width: 22px;
  text-align: center;
  color: white;
}

.children {
  display: none;
}

/* Style for sections */
.section-item {
  .section-header {
    background-color: #1c3c88;
    color: white;
    padding: 10px;
    font-size: 20px;
    border-radius: 6px;

    .expand-icon {
      color: white;
    }

    input[type="radio"] {
      accent-color: white;
      width: 20px;
      height: 20px;
    }

    span.section {
      color: white;
      font-weight: bold;
    }
  }
}

/* Style for subsections */
.subsection-item {
  .subsection-header {
    background-color: #142c6e;
    color: white;
    padding: 10px;
    font-size: 19px;
    border-radius: 6px;

    .expand-icon {
      color: white;
    }

    input[type="radio"] {
      accent-color: white;
      width: 20px;
      height: 20px;
    }

    span.subsection {
      color: white;
      font-style: italic;
    }
  }
}

.test-cases-container {
  padding-left: 15px;
}

.test-case-item {
  background-color: #1c3c88;
  color: white;
  padding: 6px;
  margin: 3px;
  font-size: 19px;
  border-radius: 6px;
  margin-left: 12px;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.test-case-title {
  cursor: pointer;
  flex-grow: 1;
  text-align: left;
}

.edit-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
}
