<!-- internal-menu.component.html -->
<h1>iram</h1>
<div class="flx">
    <ul class="flx">
        <li><a routerLinkActive="active" [routerLink]="['/project-overview', projectId]">Overview</a></li>
        <li><a routerLinkActive="active" [routerLink]="['/project-overview', projectId, 'milestones']">Milestones</a>
        </li>
        <li><a routerLinkActive="active" [routerLink]="['/project-overview', projectId, 'test-runs']">Tests</a></li>
        <li><a routerLinkActive="active" [routerLink]="['/project-overview', projectId, 'test-cases']">Test Cases</a>
        </li>
    </ul>
    <div><a href="#">Administration</a></div>
</div>