<main>
  <h2>Select cases</h2>

  <div class="product-filtering-list">
    <div class="header">
      <div class="select-all-none">
        Select <a (click)="selectAll()">All</a> | <a (click)="selectNone()">None</a>
      </div>
      <div class="title">Test Cases</div>
    </div>
    <ul class="list">
      <li *ngFor="let item of items; let i = index" class="list-item">
        <input type="checkbox" [checked]="item.checked" (change)="toggleItem(i)">
        <span class="text">{{ item.title }}</span>
      </li>
    </ul>

    <div class="buttons">
      <button class="ok" (click)="confirmSelection()">Ok</button>
      <button class="cancel" (click)="cancelSelection()">Cancel</button>
    </div>
  </div>
</main>
