<app-internal-menu></app-internal-menu>

<div class="test-run-summary">
  <div class="chart-details">
    <div class="chart-container">
      <canvas id="testRunSummaryChart"></canvas>
    </div>
    <div class="summary-details">
      <div class="legend">
        <div class="legend-item">
          <div class="legend-color passed"></div>
          <div class="legend-text">
            <span class="count">{{getCount('Passed')}} Passed</span>
            <span class="percentage">{{getPercentageText('Passed')}}</span>
          </div>
        </div>
        <div class="legend-item">
          <div class="legend-color retest"></div>
          <div class="legend-text">
            <span class="count">{{getCount('Retest')}} Retest</span>
            <span class="percentage">{{getPercentageText('Retest')}}</span>
          </div>
        </div>
        <div class="legend-item">
          <div class="legend-color failed"></div>
          <div class="legend-text">
            <span class="count">{{getCount('Failed')}} Failed</span>
            <span class="percentage">{{getPercentageText('Failed')}}</span>
          </div>
        </div>
        <div class="legend-item">
          <div class="legend-color untested"></div>
          <div class="legend-text">
            <span class="count">{{getCount('Untested')}} Untested</span>
            <span class="percentage">{{getPercentageText('Untested')}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="percentage-summary">
    <div class="value">{{passedPercentage.toFixed(0)}}%</div>
    <div class="label">passed</div>
    <div class="untested">{{untestedCount}} / {{totalTests}} untested ({{ totalTests > 0 ? ((untestedCount / totalTests) * 100).toFixed(0) : '0' }}%)</div>
  </div>
</div>

<div class="product-filtration-table">
  <div class="header">
    <div class="title">Product filtration <span>{{testCases.length}}</span></div>
    <button class="sort-button" (click)="onSortClick()">Sort: Title ({{ sortDirection === 'asc' ? 'Asc' : 'Desc' }})</button>
  </div>
  <table>
    <thead>
    <tr>
      <th></th>
      <th>ID</th>
      <th>Title</th>
      <th>Assigned To</th>
      <th>Status</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let testCase of testCases">
      <td><input type="checkbox"></td>
      <td>{{testCase.testCaseId}}</td>
      <td>{{testCase.title}}</td>
      <td>{{testCase.assignedToName}}</td>
      <td><span [className]="getStatusClass(testCase.status)">{{testCase.status}}</span></td>
      <td>
        <button (click)="navigateAddTestResult(testCase.testCaseId)">Add Test Result</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<router-outlet></router-outlet>
